body {
    font-family: Calibri;
}

h1{
    width: 100%;
    text-align: center;
    background-color: #333738;
    padding: 5px;
    color: #a1bad0;
}

h4{
    color: #385607;
}

#city-details-line{
    font-size: 18px;
}

#appViewer{
    padding: 20px;
}

.main-theme{
    color: #333333;
    background-color: #DDDDDD;
}

.movie-block{
    display: inline-block;
    border: 2px dashed #4e4d4d;
    margin: 10px;
    color: #ffffff;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #8c8a8a;
}

.city-name{
    color: brown;
    font-weight: bold;
    font-size: 18px;
}

.movie-time-block{
    display: inline-block;
    border: 2px solid #008087;
    margin: 15px;
    color: green;
    font-weight: bold;
    padding: 20px;
    background-color: #edfff7;
    cursor: pointer;
}

hr{
    border-color: azure;
    color:aqua;
}

.user-data-form-container{
    margin-top:25px;
    text-align: center;
}

.user-data-form{
    padding: 20px;
    border: 2px solid #333333;
}

form input{
    margin: 5px;
}

.error-div{
    margin-top: 20px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
}

.confirmation-reciept{
    background-color: #00FF00;
    margin: 25px;
    font-size: 25px;
    padding: 25px;
    border: 2px dotted #ffFF00;
}

.user-form-label{
    display: inline-block;
    width: 130px;
}
