body {
    font-family: Calibri;
}

h1{
    width: 100%;
    text-align: center;
    background-color: cadetblue;
}

#appViewer{
    padding: 20px;
}

.main-theme{
    color: #333333;
    background-color: #DDDDDD;
}

.movie-block{
    display: inline-block;
    border: 2px dashed #999999;
    margin: 10px;
    color: #d43f3a;
    padding: 25px;
    cursor: pointer;
}

.city-name{
    color: brown;
    font-weight: bold;
    font-size: 15px;
}

.movie-time-block{
    display: inline-block;
    border: 2px solid #cccccc;
    margin: 10px;
    color: green;
    font-weight: bold;
    padding: 25px;
    background-color: white;
    cursor: pointer;
}

hr{
    border-color: azure;
    color:aqua;
}

.user-data-form-container{
    margin-top:25px;
}

.user-data-form{
    padding: 20px;
    border: 2px solid #333333;
}

form input{
    margin: 5px;
}

.error-div{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.confirmation-reciept{
    background-color: #00FF00;
    margin: 25px;
    font-size: 25px;
    padding: 25px;
    border: 2px dotted #ffFF00;
}
