body{
    font-family: calibri;
    margin: 0px;
}

#app{
    font-size: 12px;
    font-weight: normal;
    margin: 10px;
}

h1{
    background-color: darkcyan;
    width: 100%;
    text-align: center;
    color: white;
    padding: 8px;
}

.text-box{
    background-color: chocolate;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;

    -webkit-box-shadow: 3px 3px 2px 1px rgba(128,128,128,0.55);
    -moz-box-shadow: 3px 3px 2px 1px rgba(128,128,128,0.55);
    box-shadow: 3px 3px 2px 1px rgba(128,128,128,0.55);
}

.text-box:hover{
    background-color: brown;
}
